<?php

/**
 * @package FusionCMS
 * @version 9.4
 * @link https://github.com/FusionWowCMS/FusionCMS
 *
 * INSTRUCCIONES:
 * Copia este archivo como: application/config/fusion.php
 * y completa todos los valores marcados con TODO
 */

/* ACP security code - Contraseña adicional para el panel admin */
$config['security_code'] = 'CHANGE_ME_STRONG_PASSWORD';

/* Theme name - Debe estar en application/themes/NAME */
$config['theme'] = 'default';

/* Website title */
$config['title'] = 'My WoW Server';

/* Server name */
$config['server_name'] = 'My WoW Server';

/* Realmlist - Dirección IP o dominio del servidor WoW */
$config['realmlist'] = 'logon.example.com';

/* Use rewrite engine - Requiere mod_rewrite de Apache */
$config['rewrite'] = true;

/* SMTP server - Poner en 0 si no tienes servidor SMTP */
$config['has_smtp'] = 0;

/* Max expansion: 0=Vanilla 1=TBC 2=WotLK 3=Cata 4=MoP 5=WoD 6=Legion 7=BFA 8=SL 9=DF 10=TWW */
$config['max_expansion'] = 2;

/* Image slider */
$config['slider'] = true;
$config['slider_home'] = true;
$config['slider_interval'] = 10000;
$config['slider_style'] = 10;

/* Vote reminder popup */
$config['vote_reminder'] = 0;
$config['vote_reminder_image'] = '/images/misc/banner.jpg';
$config['reminder_interval'] = 43200;

/* SEO Keywords & Description */
$config['keywords'] = 'wow, world of warcraft, private server';
$config['description'] = 'A World of Warcraft private server.';

/* Google Analytics - false si no usas */
$config['analytics'] = false;

/* Cache system */
$config['cache'] = false;
